<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressora</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/impressora.js" defer></script>
    <style>
      html, body {
        height: 100%;
      }
    </style>
</head>
<body class="d-flex justify-content-center flex-column align-items-center gap-5 bg-dark-subtle" >
        <button type="button" class="btn btn-primary w-50 fs-1 p-3 fw-bold" onclick="gerar(0)">Senha Normal</button>
        <button type="button" class="btn btn-primary w-50 fs-1 p-3 fw-bold" onclick="gerar(1)">Senha Prioritária</button>
</body>
</html>