<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Painel Senha</title>
    <link rel="stylesheet" href="./css/painel.css" />
    <link rel="stylesheet" href="./css/jornal.css">
    <script src="./js/painel.js" defer></script>
    <script src="./js/moment.js"></script>
  </head>
  <body>
    <div>
      <div id="top">
        <span id="hora"></span>
      </div>
      <div id="senha">
        <div class="container">
          <span class="header">SENHA</span>
          <span id="spanSenha" class="conteudo">000</span>
        </div>
        <div class="container">
          <span class="header">GUICHÊ</span>
          <span id="spanGuiche" class="conteudo">00</span>
        </div>
      </div>

      <div id="jornal">
        <span id="texto">Seja bem-vindo, aguarde ser atendido!</span>
      </div>

    </div>
  </body>
</html>
